/info
.ipynb_checkpoints
*.synctex.gz
*.aux
*.log
*.toc
.DS_Store
*.bbl
*.bcf
*.blg
*.ps
*run.xml
*.aux.**
*.swp
code/data/
Journals/
saved_websites/
code/build/
code/rust_backend/target
.vscode/
__pycache__/
